{% extends "dashboard_layout.html" %}
{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{{ url_for('static',filename='assets/img/Admin.jpeg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Admin Panel</h1>
                    <span class="subheading">Manage your {{params.blog_name}} account</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <h1 align="center">Basic Actions</h1>
            <br>
                <a href="/edit/0"><button class="btn btn-outline-primary">Add a new post</button></a>
                <hr>
                <a href="/edit"><button class="btn btn-outline-primary">Modify existing Posts</button></a>
                <hr>
                <a href="/contributor_posts_show"><button class="btn btn-outline-primary">Posts by Contributers</button></a>
                <hr>
                <a href="/logout"><button class="btn btn-outline-primary">Logout</button></a>
                <hr>
            <!-- Divider-->
        </div>
    </div>
</div>
{% endblock %}