{% extends "layout.html" %}
{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{{ url_for('static',filename='assets/img/home-bg.jpg') }}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{params['blog_name']}}</h1>
                    <span class="subheading">{{params['tagline']}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <!--Do it by fetching from DB-->

            {% for post in post %}
            
            <div class="post-preview">
                <a href="/post/{{ post.slug }}">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <h3 class="post-subtitle">{{ post.tagline }}</h3><!--Ref 13, 4:20-->
                </a>
                
                <p class="post-meta">
                    Posted by
                    {{ post.author }}
                    on {{ post.date }}
                </p>
            </div>
            <a href="/post/{{ post.slug }}">
                {% if post.content|length > 200 %}
                {{ post.content[0:200]}}...
                {% endif %}
                {% if post.content|length <= 200 %}
                {{ post.content[0:200]}}
                {% endif %}

            </a>
            {% endfor %}
            <!-- Divider-->
            
            <!-- Divider-->
            <hr class="my-4" />
            <!-- Pager-->
            {% if prev!="#" and next!="#" %}
            <div class="d-flex justify-content-between mb-4">
                <a class="btn btn-outline-primary" href="{{ prev }}">&larr;PREVIOUS</a> 
                <a class="btn btn-outline-primary" href="{{ next }}"> NEXT&rarr;</a>
            {% endif %}
            {% if prev=="#" and next!="#"  %}
            <div class="d-flex justify-content-end mb-4">
                <a class="btn btn-outline-primary" href="{{ next }}"> NEXT&rarr;</a>
            {% endif %}
            {% if next=="#" and prev!="#" %}
            <div class="d-flex justify-content-start mb-4">
                <a class="btn btn-outline-primary" href="{{ prev }}">&larr;PREVIOUS</a> 
            {% endif %}


            </div>
        </div>
    </div>
</div>
{% endblock %}